<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password reset</title>
</head>
<body>
  <h1>Password reset instructions</h1>
  <p>Dear <%= user.name %>,</p>
  <p>Please click the following link to reset your password:</p>
  <!-- <a href="https://fin-man.fly.dev/api/v1/password/reset/<%= user.reset_token %>">Reset your password</a> -->
  <a href="http://localhost:5173/reset-password/?uid=<%= user.id %>&token=<%= user.reset_token %>">Reset your password</a>

  <p>Thank you!</p>
</body>
</html>
